body{
    background-color: #000000;
}

.carousel-item{
    padding: 0 50px 0 50px;
}

.carousel-indicators{
    background-color: black;
}

.carousel-control-next-icon{
    color: black;
}



.main{
    display: block;
    margin: auto;
    gap: 60px;
}

.btn-primary{
    background-color: black;
    
}

small{
    margin-left: 20px;
    display: block;
}


.form{
    width: 100%;
}

.navbar-collapse{
    margin-right: 20px;
}

.navbar-brand{
    margin-left: 50px;
}

.welcome-para {
    margin: 80px;
    padding: 40px 40px;
    border-radius: 10px;
    background-color: rgb(238, 227, 227);
}



.welcome , .feature{
    display: flex;
    margin: 0px 50px;
    align-items: center;
}

.feature-para{
    margin: 80px;
    font-size: 2rem;
    padding: 30px 30px;
    border-radius: 10px;
    background-color: aliceblue;
}

.welcome  img{
    width: 50%;
    height: 50%;
    border-radius: 50px;
}

.item-img{
    width: 400px;
    height: 400px;
    border-radius: 50px;
}

.maps{
    display: flex;
}